apiVersion: v2
name: k8s-monitoring
description: A Helm chart for gathering, scraping, and forwarding Kubernetes telemetry data to a Grafana Stack.
type: application
version: 3.7.2-bb.1
appVersion: 3.7.2
icon: https://raw.githubusercontent.com/grafana/grafana/main/public/img/grafana_icon.svg
sources:
  - https://github.com/grafana/k8s-monitoring-helm/tree/main/charts/k8s-monitoring
annotations:
  bigbang.dev/maintenanceTrack: bb_integrated
  bigbang.dev/applicationVersions: |
    - Alloy: v1.10.0
  helm.sh/images: |
    - name: alloy
      image: registry1.dso.mil/ironbank/opensource/grafana/alloy:v1.12.2
    - name: alloy-operator
      image: registry1.dso.mil/ironbank/opensource/grafana/alloy-operator:0.3.15
    - name: prometheus-config-reloader
      image: registry1.dso.mil/ironbank/opensource/prometheus-operator/prometheus-config-reloader:v0.88.0
    - name: helm-chart-toolbox-kubectl
      image: registry1.dso.mil/ironbank/opensource/grafana/helm-chart-toolbox-kubectl:1.0
  bigbang.dev/upstreamReleaseNotesMarkdown: |
    - [Find k8s-monitoring CHANGELOG here](https://github.com/grafana/k8s-monitoring-helm/releases/)
    - [and Grafana Alloy's release notes here](https://grafana.com/docs/alloy/latest/release-notes/)
dependencies:
  - name: k8s-monitoring
    version: "3.7.2"
    repository: https://grafana.github.io/helm-charts
    alias: upstream
  - name: gluon
    version: "0.9.7"
    repository: oci://registry1.dso.mil/bigbang
  - name: bb-common
    version: "0.12.3"
    repository: oci://registry1.dso.mil/bigbang
